<div class="detalhes">
  <div class="container pt-2">
    <h5>Situação Cadastral do CPF</h5>
    <h6 class="subTitulo">Consulta na Receita Federal</h6>
  </div>
  <form [formGroup]="formulario">
    <div class="form-group">
      <div class="col-sm-6">
        <label for="nome" class="control-label">Nome</label>
      </div>
      <div class="col-sm-6">
        <input
          type="nome"
          class="form-control input"
          formControlName="nome"
          id="nome"
        />
      </div>
      <div class="col-sm-8">
        <label for="situacao" class="control-label">Situação do CPF</label>
      </div>
      <div class="col-sm-8">
        <input
          type="situacao"
          class="form-control input"
          formControlName="situacao"
          id="situacao"
        />
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <button
    class="btn btn-primary"
    routerLink="/cliente"
    style="background-color: #165c7d !important"
  >
    Realizar nova consulta
  </button>
</div>
