<div class="container">
  <h2>Salvar Cliente</h2>
  <form>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" placeholder="Informe o nome" />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" placeholder="Informe o email" />
    </div>
    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input
        type="text"
        class="form-control"
        placeholder="Informe o telefone"
      />
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a class="btn btn-secondary">Voltar </a>
  </form>
</div>
